* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #eaf4ff;
}

.header {
    width: 100vw;
    height: 8rem;
    background-color: rgb(149, 185, 247);
    display: flex;
     justify-content: space-between;
     box-shadow: #75aaf3 2px 5px 16px 2px;
}
h1 {
    margin: 3rem;
    
    color: rgb(53, 88, 145);
    
}


#new-task{
    width: 28rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-bottom: 30px;
}
.completed-task {
    text-decoration: line-through;
    color: rgb(17, 16, 16);
   
}
ol {
    display: flex;
    width: 38rem;
    flex-direction: column;
    background-color: #bad7ff;
    border-radius: 5px;
     
}

.todo-item {
    display: flex;
    justify-content: space-between;
    font-family: inherit;
    letter-spacing: 2px;
    border-radius: 5px;
    line-height: 20px;
    font-weight: 400;
    background-color: white;
    margin: 20px;
    
    padding: 20px;
}

button {
    margin-left: 10px;
    width: 140px;
    height: 30px;
    color: azure;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #82b4fb;
}

button:hover {
    background-color: #4e96fa;
}
.contan {
    margin-top: 20px;
}
.todo-container {
   display: none;
   margin: 30px;
   border-radius: 10px;
   padding: 20px;
   background-color: #d9eaff;;
   position: relative;
   animation: 0.3s ease-out 0s 1 moveup;
}
@keyframes moveup {
    0% {
      transform: translateY(10%) scale(0.8);
      opacity: 0;
    }
    100% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }




.close-btn {
    width: 30px;
    position: absolute;
    top: 5px;
    right: 25px;
   background-color: transparent;
   font-size: 20px;
   color: #277ef9;
   
}
.close-btn:hover {
    color: red;
    background-color: transparent;
    transform: scale(1.1);
}
.open-btn {
    margin: 3rem;
    color:rgb(53, 88, 145);
    font-weight: 800;
    font-size: 24px;
    background-color: transparent;
    transition: transform 0.3s ease;
}
.open-btn:hover {
    width: 100px;
    background-color: transparent;
    transform: scale(1.1);

}

@media only screen and (max-width: 390px) {
    .contan {
        margin-left: 20px;
    }
    ol {
        margin: 10px;
        width: 26rem;
    }
    .header {
        height: 10rem;
        font-size: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    h1 {
        margin: 1rem;
    }
    #new-task {
        margin: 10px;
        width: 20rem;
    }
    .todo-container {
        height: 10rem;
      
    }

    .close-btn {
        margin-right: 15px;
    }
 }